.containers {
    background: #000000;
    display: grid;
    height: 100%;
    min-height: 100%;
    padding: var(--panel-gap);
    position: relative;
    row-gap: var(--panel-gap);
    transition:
        grid-template-columns var(--sidebar-transition-duration) var(--sidebar-transition-easing),
        -ms-grid-columns var(--sidebar-transition-duration) var(--sidebar-transition-easing);
    width: 100%;
    grid-template-areas:
        'left-sidebar main-view right-sidebar'
        'now-playing-bar now-playing-bar now-playing-bar';
    grid-template-columns: var(--left-sidebar-width) 1fr var(--right-sidebar-width);
    grid-template-rows: 1fr auto;
}
.wrapperss {
    position: relative;
    display: block;
    left: 8px;
    padding: 0 6px;
}
.wrapper-page {
    flex: 1;
    min-height: calc(((100vh - 64px) - 90px) - 519px);
}
