.wrappers {
    position: sticky;
    height: 64px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    max-width: 1255px;
    background: #1616169c;
    padding: 16px 24px;
}
.div--search {
    flex: 0 1 364px;
}
.icon-search,
.icon-clear {
    -webkit-box-align: center;
    align-items: center;
    bottom: 0;
    display: flex;
    position: absolute;
    top: 0;
}

.icon-search {
    pointer-events: none;
    left: 12px;
}
.icon-clear {
    right: 30px;
}
.search {
    background-color: #242424;
    border: 0;
    border-radius: 500px;
    color: white !important;
    height: 48px;
    padding: 6px 40px;
    text-overflow: ellipsis;
    width: 100%;
}
